<%= content_tag "div", class:'banner-info', data: {image: 'assets/work-with-me.jpg'} do %>
<% end %>

<div class="services">
  <p class="serv-title linotype"><span class="title">Here's what I can do</span></p>
  <div class="service">
    <img src="<%= asset_path "assets/beach.gif" %>" alt="proofread"/>
    <p class="serv-title bold">Do a thorough proofread</p><p>I'll make sure there are no embarrassing spelling or grammar mistakes in your writing.<br><br><span class="rate">Starts at $25</span>
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/desk.gif" %>" alt="edit"/>
    <p class="serv-title bold">Give it a good edit</p><p>I'll fix everything from spelling and grammar to word choice and sentence structure.<br><br><span class="rate">Starts at $30</span>
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/notebook.gif" %>" alt="full-service"/>
    <p class="serv-title bold">Stick with you until the end</p><p>I'll be with you every step of the way, coaching you on your writing and helping you find the right words.<br><br><span class="rate">Starts at $100</span>
    </p>
  </div>
</div>
<div class="work-with-me">
  <p>
    <span class="title linotype">After I work my magic you will:</span><br><br>- Have a story that feels true to <em>you</em>.<br><br>- Feel confident about sharing your writing with the world.<br><br>- Know where to pitch your writing if you want to have it published<br><br>- Find a connected audience that gets what you’re trying to say.<br><br>- Understand how you can improve your writing.<br><br>- Feel more excited to write in the future knowing that you have the skills to make it easier.<br><br>If you want more information, let’s be in touch.
  </p>
</div>
<%= render 'shared/opt_in' %>
