<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'work-with-me.jpg'}"} do %>
<% end %>
  <div class="work-with-me">
    <p>
     <br><br>Having a trusted guide who can hold you to your deadlines and give you feedback is huge. Editors exist for a reason. Every writer need a second set of eyes. Trust me, your favourite writer definitely has one.<br><br>My services range from a straight up proofread, to a more hands on approach where I guide you through the writing process. You can choose the package that best suits your needs.<br><br>And since I want as many women as possible to share their stories, I keep my prices intentionally low.<br><br>
    </p>
  </div>
  <div class="services">
  <p class="serv-title"><span class="title">Here's How I Can Help </span></p>
  <div class="service">
    <img src="<%= asset_path "assets/beach.gif" %>" alt="proofread"/>
    <p class="serv-title bold">Do a thorough proofread</p><p>I'll make sure there are no embarrassing spelling or grammar mistakes in your writing.<br><br><span class="rate">Starts at $25</span>
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/lights.gif" %>" alt="edit"/>
    <p class="serv-title bold">Give it a good edit</p><p>I'll fix everything from spelling and grammar to word choice and sentence structure.<br><br><span class="rate">Starts at $30</span>
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/horse.gif" %>" alt="full-service"/>
    <p class="serv-title bold">Stick with you until the end</p><p>I'll be with you every step of the way, coaching you on your writing and helping you find the right words.<br><br><span class="rate">Starts at $100</span>
    </p>
  </div>
</div>
<div class="work-with-me">
  <p>
    <br><br><span class="title">After I work my magic you will:</span><br><br>- Have a story that feels authentic and powerful </em>.<br><br>- Feel confident about sharing your writing with the world.<br><br>- Know where to pitch your writing if you want to have it published or have new strategies for reaching a wider audience.<br><br>- Find a connected audience that gets what you’re trying to say.<br><br>- Understand how you can improve your writing.<br><br>- Feel more excited to write in the future knowing that you have the skills to make it easier.
  </p>
</div>
<div class="copy call-to-action">
  <h2>If you're want to up-level your story, enter your email below and I'll be in touch ASAP.</span>
  </p>
</div>
<%= render 'shared/opt_in' %>
