<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'work-with-me.jpg'}"} do %>
<% end %>
  <div class="work-with-me">
    <p>
     <br><br>If you read my About page, you now know one of my biggest life stories. It's the story I tell whenever someone asks how I got here. I know you have one too, and I'm hoping you're going to tell it.<br><br>If you haven't started writing yet and you're looking for tips on how to establish a strong daily writing practice, please join my online community. I'll send you an e-mail every Sunday that will inspire you to write and help you build a collection of work that feels powerful and authentic.<br><br>If you've been working on something for a while or you're looking to take your writing to the next level, I have some other option (although   I highly suggest you sign up to my newsletter too!)
    </p>
  </div>
  <div class="services">
  <p class="serv-title"><span class="title">Here's How I Can Help</span></p>
  <div class="service">
    <img src="<%= asset_path "beach.gif" %>" alt="proofread"/>
      <p class="serv-title bold">Editing</p><p>Whether you need a second set of eyes or you're just feeling stuck, I can help in a big way. I've edited over 1 million words for clients all over the world, so I consider this to be one of my strongest skills.<br><br><span class="rate">Starts at $50</span>
    <p>
  </div>
  <div class="service">
    <img src="<%= asset_path "lights.gif" %>" alt="edit"/>
    <p class="serv-title bold">Coaching</p><p>We'll meet every week to talk about your project, make sure you're sticking to deadlines and go over your latest draft line by line. We can work on an existing project or start from square one.<br><br><span class="rate">Starts at $100</span>
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "horse.gif" %>" alt="full-service"/>
    <p class="serv-title bold">Audience Building</p><p>After we finish working on your story, I'll  help you develop your dream blog or website and have it built FOR you. We'll come up with a writing schedule and a strategy to build an audience that works for you.<br><br><span class="rate">Starts at $500</span>
    </p>
  </div>
</div>
<div class="work-with-me">
  <p>
    <br><br>If you're re-reading that last one trying to figure out if I will ACTUALLY build your dream blog or website, stop! You're right. That's what I said. You can walk away with a ready-to-use blog, complete with your first post and a plan to keep it up. You'll also have writing tips and prompts that will keep you on track so you'll never catch yourself thinking "What should I write about?"<br><br>But really, my mission is just to get you to write about your life. So if this doesn't feel like the right time to hire an editor or coach, that's 110% fine!<br><br>I have tons of free resources that will get you writing like crazy. This is really about what makes the most sense for you right now.<br><br>If you're on the fence, let me break it down further.<br><br><br><br><span class=title> After I work my magic you will:</span><br><br>- Have a story that feels authentic and powerful. </em>.<br><br>- Gain confidence to share your story with the world.<br><br>- Learn new strategies to reach a wider audience.<br><br>- Find a connected audience that gets what you’re trying to say.<br><br>- Learn how to improve your writing.<br><br>- Look forward to writing in the future knowing that you have the tools to make it easier and more enjoyable. <br><br><br><br> If all of this sounds good to you and you're ready to take your writing to the next level, please enter your email address below. You'll get an email from me within 24 hours to set up a time to talk about your project and how we can best work together. I really, truly can't wait.

</div>
<%= render 'shared/opt_in' %>
