<%= render 'form' %>

<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <div class="post">
    <a href="/posts/<%=post.id%>">
      <img src="<%=post.img%>" alt="<%= post.title %> photo" />
      <p class="post-title linotype"> <%= post.title %> </p>
    </a>
      <p class="post-body">
        <%= post.body %>
      </p>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post, method: 'delete' %>
  </div>
<% end %>
