<p id="notice"><%= notice %></p>

<%= content_tag "div", class:'banner-info', data: {image: @post.img} do %>
<% end %>

<div class="full-post">
  <span class="strong post-title linotype"><%= @post.title %></span>
  <p class="post-body">
    <%= @post.body %>
  </p>
</div>

<%= render 'shared/newsletter_blog' %>
