<%= render 'shared/ckabout' %>
<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'about.gif'}"} do %>
<% end %>
<div class="copy">
  <p>Hey, I'm Ashley Renders. I'll help you navigate the circus that is freelance journalism.<br><br>The media industry has never been more tumultuous. I'm no longer surprised by layoffs, mergers or new technology. If you're a staff writer it's scary stuff. But as a freelancer, there has never been a better time have to jump in and try new things.<br><br>That's what I've been doing. For the past few years I've been travelling, writing and producing content like a crazy person (you can check out my full portfolio here).<br><br>Before I started this company (my latest contribution to the media landscape), I was an associate producer at VICE Canada.<br><br>Some days sucked.<br><%= image_tag 'trailmix.png' %><br><br>But most of them were really good!<br><%= image_tag 'icecream.png' %><br><br>I produced hundreds of segments.<br><%= image_tag '100episodes.png' %> <br><br>Before that, I was the assistant editor of a magazine called <span class="italic">Corporate Knights.</span><br><%= image_tag 'editingCK.png' %><br><br>And before that, I freelanced for Thomson Reuters in New York City and <span class="italic">National Post</span> in Toronto.<br><%= image_tag 'thomsonreuters.png' %><br><br>I've covered climate protests around the world.<br><%= image_tag 'NYCprotest.png' %><br><br>And I've made a few cameo appearances on camera. <br><%= image_tag 'Paris1.gif' %><br><br>I've met some amazing women like Jane Goodall.<br><%= image_tag 'janegoodall.png' %><br><br>And Vandana Shiva.<br><%= image_tag 'vandanashiva.gif' %><br><br>And because I have fears and anxieties just like anyone else, I spend a lot of time like this...<br><%= image_tag 'beanbag.png' %> <br><br>I've also done lots (and lots) of copyediting work that isn't worthy of Instagram. For some reason, my brain is particularly well suited to critique other people's work. I WILL find your mistakes.<br><br>If you think we would be a good fit, then head over here to find out how we can work together. I also recommend you download my free pitching guide to see what you're in for.<br><br>
</span>
  <%= render 'shared/ckaboutbottom' %>
  </p>
</div>
</p>
<%= render 'shared/instagram' %>
