<%= render 'shared/ckabout' %>
<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'about.gif'}"} do %>
<% end %>
<div class="copy">
  <p>Hey, I'm Ashley Renders. I'll help you figure out the wild world of freelance writing.<br><br>I'm using the word "wild" loosely. The media industry is changing daily, so pretty much anything is possible at this point.<br><br>Now is the perfect time to take a risk and fulfill you dream of being a published writer.<br><br>I know because I've been working like crazy over the past few years, travelling, writing and producing content (you can check out my full portfolio here).<br><br>Before I started this company, I was an associate producer at VICE Canada.<br><br>Here I am having a particularly fun out in the field for Daily VICE.<br><%= image_tag 'icecream.png' %><br><br>And here I am have a particularly bad day writing a script for Daily VICE.<br><%= image_tag 'trailmix.png' %><br><br>I've also been the assistant editor of a magazine called <span class="italic">Corporate Knights.</span><br><%= image_tag 'editingCK.png' %><br><br>And I've written for Thomson Reuters in New York City and <span class="italic">National Post</span> in Toronto.<br><%= image_tag 'thomsonreuters.png' %><br><br>I've covered climate protests around the world.<br><%= image_tag 'NYCprotest.png' %><br><br>And I've made a few cameo appearances on camera. <br><%= image_tag 'Paris1.gif' %><br><br>As a result, I have fallen asleep everywhere.<br><%= image_tag 'beanbag.png' %> <br><br>I've also met some amazing women like Jane Goodall.<br><%= image_tag 'janegoodall.png' %><br><br>And Vandana Shiva.<br><%= image_tag 'vandanashiva.gif' %><br><br>I've also done lots (and lots) of copyediting work that isn't worthy of Instagram. For some reason, my brain is particularly well suited to critique other people's work. I WILL find your mistakes.<br><br>If you think we would be a good fit, then head over here to find out how we can work together. I also recommend you download my free pitching guide to see what you're in for.
</span>
  <%= render 'shared/ckaboutbottom' %>
  </p>
</div>
</p>
<%= render 'shared/instagram' %>
