<!DOCTYPE html>
<html>
<head>
  <title>Ashley Renders</title>
  <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans|Raleway|Marck+Script' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="whitewrapper">
    <div class="container">
      <div class="header">
        <a href="<%= root_path %>"><%= image_tag('logotest.jpg', class:'logo') %></a>
        <% if notice %>
          <p id="notice"><%= notice %></p>
          <% end  %>
        <div class="menu">
          <a href="<%= about_index_path %>"><div class="menu-item"><span>about</span></div></a>
          <a href="<%= work_with_me_index_path %>"><div class="menu-item"><span>work with me</span></div></a>
          <a href="https://ashleyrenders.contently.com/" target="_blank"><div class="menu-item home"><span>portfolio</span></div></a>
          <a href="<%= contacts_path %>"><div class="menu-item"><span>Contact</span></div></a>
        </div>
        <div class="banner">
          <div class="slider">
            <div class="owl-carousel">
              <div class="slide">
                <%= image_tag 'Headshot1.jpg' %>
                <p class="slide-caption caption-one">
                   You learn more from success than failure.<br><a href="<%= work_with_me_index_path %>">Let's get you published.</a>
                </p>
              </div>
              <div class="slide">
                <%= image_tag 'slide3.jpg' %>
                <p class="slide-caption caption-three">
                   Journalism is something you learn by doing.<br><a href="<%= work_with_me_index_path %>">Start now.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <%= render 'shared/instagram' %>
      <div class="logo">
        <a href="<%= home_index_path %>"><%= image_tag("Name.png") %></a>
      </div>
      <div class="social-media">
        <a href="https://twitter.com/iamrenders" target="_blank"><img src="<%= asset_path "twitter.png" %>" /></a>
        <a href="https://www.instagram.com/ashleyrenders/" target="_blank"><img src="<%= asset_path "instagram.png" %>" /></a>
        <a href="https://ca.linkedin.com/in/ashley-renders-09102722" target="_blank"><img src="<%= asset_path "linkedin.png" %>" /></a>
        <a href="mailto:ashley@yeahisaidit.ca" target="_blank"><img src="<%= asset_path "mail.png" %>" /></a>
      </div>
      <div class="copyright">
        <span>&copy;2016 Ashley Renders</span><span>Web designed by <a href="mailto:admin@yeahisaidit.ca">Dorian Thornton</a></span>
      </div>
    </div>
  </div>

</body>
</html>
